[submodule "deps/tomlplusplus"]
	path = deps/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "deps/zydis"]
	path = deps/zydis
	url = https://github.com/zyantific/zydis.git
[submodule "deps/lua"]
	path = deps/lua
	url = https://github.com/lua/lua
